header {
  height: 60px;
  background-color: var(--site-blue);
  text-align: center;
  color: var(--white);
  display: flex;
  align-items: center;

  h2 {
    width: 70%;
    font-size: 2em;
    text-align: left;
  }

  .search-form {
    width: 30%;

    input {
      border-style: none;
      border-radius: 5px;
      outline: none;
      height: 20px;
      width: 200px;
      margin: 0 10px;
      font-size: 1em;
    }

    input:focus {
      box-shadow: 0 0 0 2px var(--black);
    }

    button {
      border: 1px solid var(--black);
      border-radius: 5px;
      width: 90px;
      height: 27px;
      background-color: var(--site-green);
      color: var(--white);
      font-size: 1em;
      font-weight: 600;
    }

    button:hover {
      box-shadow: 1px 2px 1px 1px var(--black);
    }

    button:active {
      box-shadow: none;
      background-color: var(--site-green-active);
    }
  }
}

.page {
  overflow-x: hidden;
}
